@import "tailwindcss";
/* @plugin "daisyui"; */

@theme {
  --font-family-sans: "Poppins", sans-serif;
  --color-primary: #0A2540;
  --color-secondary: #F6F9FC;
  --color-accent: #FF4500;
  --color-whatsapp: #25D366;
}

@font-face {
  font-family: 'Poppins';
  src: url('/fonts/Poppins-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Poppins';
  src: url('/fonts/Poppins-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Poppins';
  src: url('/fonts/Poppins-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
/* Estilos globales adicionales */
html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-family-sans);
}

/* Aplica a html y body */
html, body, main {
  scrollbar-width: none ;      /* Firefox */
/* Firefox */
}

